<h1>Add new product</h1>
<form [formGroup]="productForm!" (ngSubmit)="createProduct()">
  <mat-form-field>
    <mat-label for="title">Title</mat-label>
    <input id="title" formControlName="title" matInput required />
    <mat-error>Title is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="price" matInput type="number">Price</mat-label>
    <input id="price" formControlName="price" matInput type="number" required />
    @if (
      productForm?.controls?.price?.touched &&
      productForm?.controls?.price?.hasError("required")
    ) {
      <mat-error class="help-text">Price is required</mat-error>
    }
    @if (
      productForm?.controls?.price?.touched &&
      productForm?.controls?.price?.hasError("min")
    ) {
      <mat-error class="help-text">Price should be greater than 0</mat-error>
    }
    @if (
      productForm?.controls?.price?.touched &&
      productForm?.controls?.price?.hasError("priceMaximum")
    ) {
      <mat-error class="help-text">Price must be smaller or equal to 10000</mat-error>
    }
  </mat-form-field>
  <div>
    <label for="category">Category</label>
    <select id="category" formControlName="category">
      <option>Select a category</option>
      <option value="electronics">Electronics</option>
      <option value="jewelery">Jewelery</option>
      <option>Other</option>
    </select>
  </div>
  <div>
    <button mat-raised-button type="submit" [disabled]="productForm?.invalid">
      Create
    </button>
  </div>
</form>
